.top-0 {
    top: 0;
}

.sticky {
    position: sticky;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-filter-contabilidad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #ccc;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selector {
    width: 200px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.begin {
    display: flex;
    align-items: flex-start;
}

.end {
    display: flex;
    align-items: flex-end;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2;
    color: #333;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table tbody tr:hover {
    background-color: #ddd;
}
